/*general*/
/*#region*/
body{
    background-color: #1ddeff;
}
h1 {
    font-family: 'Lemonada', cursive;
}

h2, h3{
    font-family: 'Lato', sans-serif;

}
p {
    font-family: 'Merriweather', serif;
}
/*#endregion*/

/*header*/
/*#region*/
#scoots-logo{
    display: block;
margin-left: auto;
margin-right: auto;

}
/*#endregion*/

/*nav*/
/*#region*/
nav
{
    background-color: #00e4ce;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hide li {
    display: none;
}

.hide li:first-child {
    display: block;
    margin-left: 0px;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
}
/*#endregion*/
/*footer*/
/*#region*/
footer{
    padding-top: 5px;
    background-color: #eddea4;
    border-top: 4px dotted #00e4ce;
    text-align: center;
}
/*#endregion*/




/*nav*/
/*#region*/

/*#endregion*/