/*general*/
/*#region*/
body{
    background-color: #1ddeff;
}
h1 {
    font-family: 'Lemonada', cursive;
}

h2, h3{
    font-family: 'Lato', sans-serif;

}
p {
    font-family: 'Merriweather', serif;
}
/*#endregion*/

/*header*/
/*#region*/
#scoots-logo{
    display: block;
margin-left: auto;
margin-right: auto;

}
/*#endregion*/

/*nav*/
/*#region*/
nav
{
    background-color: #00e4ce;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.active{
    font-weight: bold;
}
.hide li {
    display: none;
}

.hide li:first-child {
    display: block;
    margin-left: 0px;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
}
/*#endregion*/
/*footer*/
/*#region*/
footer{
    padding-top: 5px;
    background-color: #eddea4;
    border-top: 4px dotted #00e4ce;
    text-align: center;
    padding-bottom: 10px;
}

footer a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    font-size: 1.15em;
}

/*#endregion*/




/*Medium View Nav*/
/*#region*/
@media (min-width: 500px){
    .hide li {
      display: block;
  }
  
  .hide li:first-child {
      display: none;
      margin-left: 0px;
  }
  #menu_list {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
  }
  #menu_list li {
    display: block;
  }
  #menu_list li:first-child {
    display: none;
  }
  .hide li {
      display: none;
  }
  
  .hide li:first-child {
      display: block;
      margin-left: 0px;
  }
  #scoots-logo{
      margin-top: 10px;
  }
  }
/*#endregion*/