  /*Hero*/
  /*#region*/
  #hero_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*#endregion*/

    /*Action Call*/
  /*#region*/
  #action_call{
    display: block;
    width: 310px;
    background-color: #eddea4;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
  }
  #action_call a{
    text-decoration: none;
  }
  #action_call button{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }
  /*#endregion*/

    /*Weather*/
  /*#region*/
  #weather_box{
    margin-top:10px;
      background-color: #00e4ce;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
    }
    #weather_box h2{
      margin-top: 0px;
      padding: 5px;
      background-color: #1ddeff;
      width: 100%;
      border-bottom: 4px dotted #eddea4;
    }
    
    #weather_box p{
      font-size: 1.4em;
    }
    #weather_box .wide{
      font-size: 1.1em;
    }
    /*#endregion*/
    
      /*Section*/
  /*#region*/
  section{
    background-color: #00e4ce;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  section h2{
    margin-top: 0px;
    padding: 5px;
    background-color: #1ddeff;
    width: 100%;
    border-bottom: 4px dotted #eddea4;
  }
  section h3{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 4px dotted #eddea4;
    background-color: #1ddeff;
  }
  section a{
    color: black;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: bold;
  }
  section a:hover{
    font-size: 1.15em;
  }
  /*#endregion*/

  /*Medium View*/
  /*#region*/
  @media (min-width: 500px){
    /*Action*/
    /*#region*/
    #action_call{
      position: relative;
      border-radius: 25px;
      background-color: rgba(237, 222, 164, .9);
      padding: 10px;
      top: -100px;
      margin-bottom: -100px;
      left: -17%;
    }
    /*#endregion*/
    
        /*Weather*/
    /*#region*/
    #weather_box{
      background-color: #1ddeff;
    }
    #wb_future,#wb_today{
    background-color: #00e4ce;
      
    }
        #weather_box h2{
          width: 100%;
          padding-right: 0px;
          padding-left: 0px;
    }
    /*#endregion*/

      /*Section*/
  /*#region*/
    section{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around
    }
    section>p:last-child{
      padding-top: 7px;
    border-top: 4px dotted #eddea4;
    }
        section h2{
          text-align:center;
          width: 100%;
      }  
    #rental_box_scooters,#rental_box_atv,#rental_box_jeep{
      width: 30%
    }
    /*#endregion*/
      }
    
      /*#endregion*/
  /*Large View*/
  /*#region*/
  @media (min-width: 800px) {
    main{
      display: grid;
      grid-template-columns: 20% 1fr;
    }
    #action_call{
      margin-top: 10px;
      margin-bottom: 10px;
      position: static;
      grid-column: 1;
      grid-row: 1/2;
      background-color: rgba(237, 222, 164, 1);
      border-radius: 0px;
      width:auto;
    }
    picture{
      margin-top: 10px;
      grid-column: 2;
      grid-row: 1/3;
    }
    #weather_box{
      grid-column: 1;
      grid-row: 2/3;
    }
    section{
      grid-column: 1/ span 2;
    }
  }

  /*#endregion*/
