form{
    margin: 10px;
}
form label{
    display: block;
    margin: 5px;
}
form input,textarea,select{
    display: block;
    margin-left: 5px;
    width: 90%
}
fieldset{
    margin: 5px;
    border-radius: 15px;
}
#submit{
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: #00e4ce;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
section h2{
    margin-top: 0px;
    padding: 5px;
    background-color: #1ddeff;
      width: 100%;
      border-bottom: 4px dotted #eddea4;
  }

section ul{
    list-style-type: none;
    padding-left: 10px;
}
section li{
    padding: 4px;
    font-size: 1.3em;
    margin-right: 7px;
}