  /*Sections*/
  /*#region*/
  section{
    background-color: #00e4ce;
}
section p{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}
section h2,h3{
  margin-top: 0px;
  padding: 5px;
  background-color: #1ddeff;
  width: 100%;
  border-bottom: 4px dotted #eddea4;
}
section img{
  display: block;
  margin-left: auto;
  margin-left: auto;
}
/*#endregion*/
/*Medium View*/
/*#region*/
@media (min-width: 500px){
  section{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  section h2,h3{
    width: 100%;
    text-align: center;
  }
  section img{
    width: 45%;
    margin-right: auto;
  }
  section p{
    width: 45%;
    padding-right: 5px;
  }
  section:first-child p
  {
    width: 80%;
  }
  section:nth-child(3)
  {
    flex-direction: row-reverse;
  }
section:nth-child(3)   img {
    flex-direction: row-reverse;
  border-right: none;
    padding-left: 5px;
  }
  
}
/*#endregion*/

  /*Large View*/
/*#region*/
@media (min-width: 700px){
  #image_wrapper{
    height: 160px;
  }
    main{
        width: 75%;
        display: flex;
      flex-wrap: wrap;
        justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
    }
  section:first-child{
    width: 100%;
  }
  section{
    width: 30%;
    display: block;
  }
  section p{
    width: 85%;
  margin-left: auto;
  margin-right: auto;
    
  }
}
  /*#endregion*/