@media (min-width: 500px){
    header {
        display: flex;
        flex-flow: row;
        padding-left: 45px;
    }
    h1{
        padding: 10px;
    }
nav {
    text-align: center;
}
#menu_list{
    display: flex;
}
#menu_list li{
    display: block;
    flex: 1 1 100%
}
#menu_list li:first-child{
    display: none;
}
.hide li{
    display: block;
    flex: 1 1 100%
}
.hide li:first-child{
    display: none;
}
.placeholder{
    max-width: 400px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 5px;
}
}