@media (min-width: 500px){
    header {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    h1{
        padding: 10px;
    }
nav {
    text-align: center;
}

#menu_list{
    display: flex;
}
#menu_list li{
    display: block;
    flex: 1 1 100%
}
#menu_list li:first-child{
    display: none;
}
.hide li{
    display: block;
    flex: 1 1 100%
}
.hide li:first-child{
    display: none;
}
.placeholder{
    max-width: 75%;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 5px;
}
#weather_overlay{
position: absolute;
top: 10px;
left: 10px;
margin-top: 0;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article h3{
    width: 100%;
}
.article img{
    max-width: 40%;
    order: 3;
    float: right;
    margin-right: 14px;
    margin-left: 8px;
}
.article p{
    order: 2;
    width: 40%;
}
.forecast{
    flex-direction: column;
}
.forecast_placeholder{
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
}